:root {
    --primary: rgb(250, 250, 250);
    --secondary: rgb(93, 93, 93);
    --secondary2: rgb(231, 231, 231);
    --tertiary: rgb(197, 197, 197);
    --main-foreground: rgb(0, 0, 0);
    --main-background: rgb(250, 250, 250);
    --highlighted-word: rgb(155, 240, 132);
    --highlighted-hint-word: rgb(152, 181, 236);
    --correct-word: rgb(232, 255, 223);
    --hint-word: rgb(223, 233, 255);
    --accent: rgb(50, 88, 182);
    --danger: rgb(238, 70, 70);
    --action: rgb(70, 70, 238);
    --action-held: rgb(30, 30, 248);
    --secret-word: rgb(200, 40, 30);
    --hint-block: rgb(11, 74, 132);
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary: rgb(255, 255, 255);
        --secondary: rgb(50, 50, 50);
        --secondary2: rgb(50, 50, 50);
        --tertiary: rgb(52, 52, 52);
        --main-foreground: rgb(255, 255, 255);
        --main-background: rgb(24, 24, 24);
        --highlighted-word: rgb(72, 126, 58);
        --highlighted-hint-word: rgb(46, 102, 210);
        --correct-word: rgb(44, 70, 33);
        --hint-word: rgb(37, 51, 82);
        --accent: rgb(74, 0, 255);
        --danger: rgb(136, 0, 0);
        --action: rgb(44, 72, 169);
        --action-held: rgb(61, 95, 211);
        --secret-word: rgb(200, 40, 30);
        --hint-block: rgb(11, 74, 132);
    }
}

@font-face {
    font-family: 'Ubuntu Mono';
    /*noinspection CssUnknownTarget*/
    src: url('/UbuntuMono-Regular.ttf') format('truetype');
}

* {
    outline: none;
    color: var(--main-foreground);
}

body, #app {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    font-family: "Ubuntu Mono", monospace;
}

input, select {
    background-color: var(--secondary2);
    height: 1rem;
    border: solid 2px var(--main-background);
    user-focus: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

select {
    height: 2rem;
}

input:focus, button:hover {
    outline: none;
    border: solid 2px var(--accent);
}

a:hover {
    color: var(--accent);
}

button {
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: solid 2px var(--main-background);
}

.card {
    display: flex;
    flex-direction: column;

    align-items: center;
    padding: 1rem;
    border: solid 1px var(--tertiary);
    border-radius: 0.5rem;
}

.highlighted-word {
    border-bottom: solid 1px var(--secondary);
    background-color: blue;
}

.blocked-word {
    background-color: var(--secondary);
    color: white;
    user-select: none;
    cursor: pointer;
}

.in-hint-mode .is-secret {
    background-color: var(--secret-word) !important;
}

.in-hint-mode .blocked-word {
    background-color: var(--hint-block);
}
